@{
    ViewBag.Title = "GenerateBill";
    Layout = "~/Views/Shared/ReceptionCommon.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
 <div class="col-sm-12">
             <section id="portfolio" >
                <div class="container">

                    <header class="section-header">
                    <h3>Generate Other Bill</h3>
                    </header>
                   

                  
        

      </div>
    </section>
        </div>
